.stats-preview-card {
    background-color: var(--customBackgroundCard);
}

.container-img {
    background: var(--customPurple);
}

.heading-img {
    mix-blend-mode: multiply;
}

.block-stats {
    padding: 40px
}

.big-title, .number-stats {
    color: var(--title)
}

.description {
    color: var(--paragraph)
}

.subtitles {
    color: var(--subtitles);
    font-family: "Lexend Deca", Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 992px) {
    .stats-preview-card {
        max-width: 560px
    }
}

@media only screen and (min-width: 992px) {
    .stats-preview-card {
        max-width: 1116px;
        max-height: 446px;
    }
    .block-stats {
        padding: clamp(50px, 6vw, 90px);
        width: 50%;
    }
    .container-img {
        width: 50%;
    }
    .rounded-top-lg {
        border-radius: 0 0.5rem 0.5rem 0!important;
    }
}